body {
  background-color: #f7f4ed;
}

/*Navbar*/
nav {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #f7f4ed;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.topnav a {
  text-decoration: none;
  color: #4863a0;
  padding: 7px;
}

.topnav a:hover {
  background-color: #efece3d8;
}

.topnav {
  padding-bottom: 20px;
}

.RegisterBtn {
  position: fixed;
  right: 2cm;
  top: 23px;
  color: #4863a0;
  font-size: medium;
  background-color: #f7f4ed;
  border: none;
  border-radius: 8px;
}

.RegisterBtn:hover,
.LoginBtn:hover {
  color: black;
}

.LoginBtn {
  position: fixed;
  right: 0.5cm;
  top: 23px;
  color: #4863a0;
  font-size: medium;
  background-color: #f7f4ed;
  border: none;
  border-radius: 8px;
}

/*Register.js*/
.nameLabel,
.surnameLabel,
.emailLabel,
.passLabel,
.confirmLabel {
  padding-left: 2cm;
  color: #4863a0;
}

.register {
  margin-left: 10px;
}

.registerName {
  margin-left: 10px;
  margin-top: 40px;
}

.passLabel {
  margin-right: 60px;
}

.emailLabel {
  margin-right: 30px;
}

.surnameLabel {
  margin-right: 65px;
}

.nameLabel {
  margin-right: 50px;
}

.registerSubmit {
  margin-left: 7.5cm;
}

/*Login.js*/
.userInput,
.welcome,
h2 {
  padding-left: 2cm;
  padding-right: 60px;
  padding-top: 30px;
}

.label {
  padding-right: 20px;
  color: #4863a0;
}

.headerUser {
  padding-left: 70px;
}

.loginP {
  position: fixed;
  top: 50px;
  right: 23px;
  font-size: small;
  color: #4863a0;
}

/*LoginPage/RegisterPage*/
.RegisterWelcome,
.LoginWelcome {
  padding-left: 70px;
}

/*Landing.js*/
.Logo {
  width: 30%;
  padding-left: 2cm;
  padding-top: 60px;
}

.store-description,
.contact {
  padding-left: 2cm;
  padding-top: 1cm;
  padding-right: 5cm;
  font-family: "Courier New", Courier, monospace;
}

/* Help */

.info-btn {
  position: fixed;
  top: 25px;
  left: 43px;
  background-color: #f7f4ed;
  border: 1px solid #f7f4ed;
  color: #4863a0;
  border-radius: 8px;
}

.info-btn:hover {
  color: black;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f4ed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: #f7f4ed;
  color: #4863a0;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  border: 1px solid #4863a0;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup-close:hover {
  color: #ff0000;
}

/*Cart*/
.TotalCart {
  padding-left: 40px;
  padding-top: 60px;
}

.cartList {
  padding-left: 60px;
  padding-top: 40px;
}

.CartTitle,
.CartStatement,
.ShipmentOptions {
  padding-left: 40px;
  padding-top: 40px;
}
